*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* body*/
body{
    display: block;
    margin: 10px;
    /* background-image: url(Resources/insertimagehere); */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

/* Introduction page Header with bg photo */
header .welcome{
    color: beige;
    text-align: center;
    font-family: monospace;
    letter-spacing: 3px;
    margin: 20px;
    height: 90px;
    font-size: xx-large;
    height: 200px;
}
header{
    background-image: url(/Resources/giphy.gif);
    background-repeat: repeat-x;
    background-size: cover;
    height: 200px;
}
.head-text{
    padding-top: 60px;
    color: white;
}

/* all page navigation bar */
nav{
    margin: 20px;
    padding: 15px;
    height: 200px;
}
ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
li{
    text-align: center;
    padding: 30px;
    margin: 15px;
    font-size: xx-large;
}
a{
    color: white;
    outline: none;
}
a:hover{
    color: cornflowerblue;
    border-bottom: solid salmon 5px;
}
a:link{
    text-decoration: none;
}

/* introduction page main intro, photo, and description */
main.index{
    /* margin: 20px; */
    padding: 30px;
    background-color: bisque;
}
#hello{
    height: 500px;
    text-align: center;
}
#hello img{
    /* float: left; */
    padding-left: 20px;
}


/* introduction page footer */
footer{
    margin-top: 20px;
    padding: 20px;
    background-color: cadetblue;
}
#foot{
    height: 95px;
}

/* projects page */
#project-main h3{
    color: white;
    font-size: x-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#project-table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 10px;
    border: dotted white 5px;
    border-radius: 60px;
    width: fit-content;
    font-size: xx-large;
    margin-top: 30px;
}
/* contacts page */