*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* body*/
body{
    display: block;
    margin: 10px;
    /* background-image: url(Resources/insertimagehere); */
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 20%; */
}

header .welcome{

    color: beige;
    text-align: center;
    font-family: monospace;
    letter-spacing: 3px;
    margin: 20px;
    height: 90px;
    font-size: xx-large;
}
header{
    background-image: url(/Resources/giphy.gif);
    background-repeat: repeat-x;
    background-size: cover;
}


/* page navigation bar */
nav{
    margin: 20px;
    padding: 15px;
}
ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
li{
    text-align: center;
    padding: 30px;
    margin: 15px;
    font-size: xx-large;
}
a{
    color: black;
    outline: none;
}
a:hover{
    color: cornflowerblue;
    border-bottom: solid salmon 5px;
}
a:link{
    text-decoration: none;
}
/* main intro, photo, and description */
main{
    margin: 20px;
    padding: 30px;
}
#hello{
    background-color: bisque;
    height: 500px;
    text-align: center;
}
#hello img{
    float: left;
    padding-left: 20px;
}
/* footer */
footer{
    margin: 20px;
    padding: 20px;
}